* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid gainsboro;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.navigation img {
    display: none;
}

.left {
    display: flex;
    gap: 50px;
    align-items: center;
}

.logo {
    display: flex;
    gap: 15px;
}

.logo img:first-child {
    display: none;
}

.logo img:last-child {
    width: 100%;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #000;
    padding: 2rem 0;
}

ul li a:hover {
    border-bottom: 3px solid hsl(26, 100%, 55%);
}

.right {
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
}

.cart #cart {
    cursor: pointer;
}

.right .cart:hover+.cartcontainer {
    display: flex;
    box-shadow: 0 20px 30px rgb(29 29 29 / 30%);
    border-radius: 5px;
}

#profile {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#profile:hover {
    border: 3px solid hsl(26, 100%, 55%);
    border-radius: 40px;
}

main {
    display: flex;
    align-items: center;
    gap: 100px;
    flex: 1;
    padding-inline: 50px;
    justify-content: center;
}

main .top img {
    width: 300px;
    height: 320px;
    border-radius: 15px;
}

.arrows {
    display: none;
}

main .bottom img {
    width: 65px;
    height: auto;
    border-radius: 6px;
    cursor: pointer;
}

main .bottom img:hover {
    opacity: 50%;
}


/* QUESTION ABOUT ACTIVE.. */

main .bottom img:first-child {
    border-style: none;
    border: 2px solid hsl(26, 100%, 55%);
    opacity: 50%;
}

main .bottom {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

main .mainleft {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .mainright {
    width: 400px;
}

#sneaker {
    color: hsl(26, 100%, 55%);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 15px;
}

.mainright h1 {
    margin-bottom: 20px;
}

.mainright #last-paragraph {
    margin-bottom: 15px;
    color: hsl(219, 9%, 45%);
    line-height: 1.2;
}

.price {
    display: flex;
    gap: 20px;
}

.price p:first-child {
    font-weight: bold;
    font-size: 25px;
}

.price p:last-child {
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
}

.price-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.nprice {
    color: hsl(219, 9%, 45%);
    text-decoration: line-through;
}

.q-b {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.quantity {
    padding: 8px;
    border-style: none;
    outline: none;
    background-color: hsl(224, 41%, 95%);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.quantity button {
    background: transparent;
    border: none;
    cursor: pointer;
}

#addtocart-btn {
    color: white;
    padding: 10px;
    width: 200px;
    background-color: hsl(26, 100%, 55%);
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

#addtocart-btn:hover {
    opacity: 50%;
}

.fa-solid {
    padding-right: 5px;
}

.right .cartcontainer {
    position: absolute;
    width: 300px;
    height: 220px;
    background-color: white;
    top: 50px;
    right: -50px;
    display: none;
    flex-direction: column;
}

.carttop {
    padding: 10px;
    border-bottom: 1px solid gainsboro;
}

.carttop p {
    font-weight: bolder;
}

.cartbottom {
    display: flex;
    flex-grow: 1;
    /* justify content horizontally */
    justify-content: center;
    /* align items vertically */
    align-items: center;
}

.cartbottom p {
    opacity: 50%;
}

@media screen and (max-width:1040px) {
    header {
        width: 90%;
    }
    main {
        gap: 50px;
    }
}

@media screen and (max-width: 740px) {
    .logo img:first-child {
        display: block;
        cursor: pointer;
    }
}


/* whre mobile starts! */

@media screen and (max-width: 720px) {
    .navigation {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        left: 0;
        top: 0;
        display: flex;
        z-index: 2;
        display: none;
    }
    .navigation img {
        display: block;
        width: 15px;
        height: 15px;
        position: fixed;
        top: 20px;
        left: 20px;
        cursor: pointer;
        transition: transform 0.5s ease;
    }
    .navigation img:hover {
        transform: rotate(90deg);
    }
    ul {
        height: 100%;
        width: 300px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        padding-left: 20px;
        font-weight: 600;
    }
    ul li a {
        padding: 0.5rem 0;
    }
    .top {
        position: relative;
    }
    .arrows header {
        border-bottom: unset;
    }
    main {
        flex-direction: column;
        padding-inline: unset;
        gap: unset;
    }
    main .mainleft {
        width: 100%;
    }
    main .mainleft .top img {
        width: 100%;
        border-radius: 0;
        height: auto;
    }
    main .mainleft .bottom img {
        display: none;
    }
    main .mainright {
        width: unset;
        padding: 0 30px 30px 30px;
    }
    .price-container {
        flex-direction: unset;
        display: flex;
        align-items: center;
    }
    .arrows {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
    .leftarrow,
    .rightarrow {
        background-color: #fff;
        border-radius: 50%;
        padding: 10px 15px;
        cursor: pointer;
    }
    .leftarrow {
        margin-left: 13px;
    }
    .rightarrow {
        margin-right: 13px;
    }
    .right .cartcontainer {
        z-index: 1000;
    }
}

@media screen and (max-width: 480px) {
    main .mainleft .top img {
        width: 100%;
        height: auto;
    }
    .container {
        width: unset;
    }
    .arrows {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
    .leftarrow,
    .rightarrow {
        background-color: #fff;
        border-radius: 50%;
        padding: 10px 15px;
        cursor: pointer;
    }
    .leftarrow {
        margin-left: 13px;
    }
    .rightarrow img {
        height: 10px;
    }
    .rightarrow {
        margin-right: 13px;
    }
}

@media screen and (max-width: 375px) {
    .price-container {
        display: flex;
        justify-content: space-between;
    }
    .container {
        width: unset;
    }
    main .mainleft .top img {
        width: 100%;
        height: unset;
    }
    .q-b {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .quantity {
        width: 315px;
    }
    #addtocart-btn {
        width: 315px;
    }
    .arrows {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
    .leftarrow,
    .rightarrow {
        background-color: #fff;
        border-radius: 50%;
        padding: 10px 15px;
        cursor: pointer;
    }
    .leftarrow {
        margin-left: 13px;
    }
    .rightarrow {
        margin-right: 13px;
    }
}